<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2>Karny k. nie został zapisany, ponieważ:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Od kogo:' %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :target_name, 'Dla kogo:' %><br />
    <%= f.text_field :target_name %>
  </div>
  <div class="field">
    <%= f.label :target_email, 'E-mail komu go wręczasz:' %><br />
    <%= f.text_field :target_email %>
  </div>
  <div class="field">
    <%= f.label :body, 'Za co?' %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit 'Dodaj' %>
  </div>
<% end %>
