- simple_form_for @message do |f|
  - if @message.errors.any?

  = f.input :name

  = f.input :target_name

  = f.input :target_email

  = f.input :body

  = f.input :terms_conditions
      
  .actions
    = f.button :submit