= simple_form_for @message do |f|
  - if @message.errors.any?

  = f.input :name

  = f.input :target_name

  = f.input :target_email

  = f.input :body
  
  #signs_left
    pozostało
    %p= 140
    
  :javascript
    $("#message_body").keyup(function(){
        signsLeft("message_body", 140, "signs_left")
    })

  = f.input :terms_conditions, :label => 'Akceptuje regulamin'
      
  .actions
    = f.button :submit, 'Wyślij Karnego Kutasa'