<p id="notice"><%= notice %></p>

<p>
  <b>Od kogo:</b>
  <%= @message.name %>
</p>

<p>
  <b>Dla kogo:</b>
  <%= @message.target_name %> |
  <%= @message.target_email %>
</p>

<p>
  <b>Za co?</b>
  <%= @message.body %>
</p>
