!!!
%html
  %head
    %title Karny Kutas
    %html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
    = render :partial => 'layouts/stylesheets'
    = render :partial => 'layouts/javascripts'

    = csrf_meta_tag

  %body

    %header
      = link_to image_tag('/images/logo.gif', :alt => 'Karny Kutas', :title => 'Karny Kutas'), root_path
      %ul
        %li ZNAJOMY CI PODPADŁ?
        %li CHUCK NORIS NIE SPROSTAŁ ZADANIU?
        %li KARNY KUTAS DOPOMOŻE!

    %section#main_content.white.shadow
      #flash_message
        - if flash[:notice]
          %p#flash_notice
            = flash[:notice]
          - flash[:notice] = nil
        - if flash[:error]
          %p#flash_error
            = flash[:error]
          - flash[:error] = nil
      = yield

    %section.turquoise.shadow
      %h2 SPRAWDŹ SWOJE KARNE KUTASY
      = render :partial => 'messages/search_form'