!!!
%html
  %head
    %title Karny Kutas
    %html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
    = render :partial => 'layouts/stylesheets'
    = render :partial => 'layouts/javascripts'

    = csrf_meta_tag

  %body

    %header
      #logo
        = link_to image_tag('/images/logo.gif', :size => '225x138', :alt => 'Karny Kutas', :title => 'Karny Kutas', :border => '0'), root_path
      #teaser.shadow
        %ul
          %li
            %h3 ZNAJOMY CI PODPADŁ?
          %li
            %h3 CHUCK NORIS NIE SPROSTAŁ ZADANIU?
          %li
            %h3 KARNY KUTAS DOPOMOŻE!

    %section#main_content.white.shadow
      #flash_message
        - if flash[:notice]
          %p#flash_notice
            = flash[:notice]
          - flash[:notice] = nil
        - if flash[:error]
          %p#flash_error
            = flash[:error]
          - flash[:error] = nil
      = yield

    %section.turquoise.shadow
      %h2 SPRAWDŹ SWOJE KARNE KUTASY
      = render :partial => 'messages/search_form'
    
    %footer
      %ul
        %li
          = link_to "Regulamin", rules_path
        %li
          = link_to "Polityka prywatności", privacy_path
        %li
          = link_to "Contact"
      %ul
        %li
          vidlasty
        %li
          maltize
        %li
          Supported by volcanic